@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&family=Roboto:ital,wght@0,100;1,100&display=swap');
@import url("https://fonts.google.com/share?selection.family=Oswald:wght@200;400;700%7CRoboto:ital,wght@0,100;1,100");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body
{
    font-family: sans-serif;
    color:black;
}
nav,
.content-container,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
html{
    scroll-behavior: smooth;
}

/*-----------Навигация-----------*/
.content
{
    max-width: 1250px;
    margin:auto;
    padding:0px 30px;
}
.navbar
{
    position:fixed;
    z-index:1000;
    width:100%;
    padding:1em;
    background: rgb(0, 0, 0);
    box-shadow: 0 1px 10px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.navbar .content
{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
#logo
{
    width:70px;
    transition:0.3s;
}
#logo:hover
{
    transform: scale(1.2);
}
.navbar .menu-list{
    display:inline-flex;
    margin-top: -1px;
}
.menu-list li{
    list-style: none;
}
.menu-list li a{
    color:rgb(255, 255, 255);
    font-size:18px;
    font-weight: 300;
    margin-left:25px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.menu-list li a:hover{
    color: rgb(228, 0, 0);
    cursor: pointer;
}
.icon{
    color:rgb(255, 255, 255);
    font-size:20px;
    cursor:pointer;
    display:none;
}
.icon.cancel-btn{
    position:absolute;
    right:30px;
    top:20px;
}
.navbar.sticky .icon.cancel-btn{
    top:10px;
}

/* #carlist .car-card:nth-child(2) .car-page-button,
#carlist .car-card:nth-child(3) .car-page-button{
    margin-top: 57px;
} */
/*-------------card-------------*/

#carlist {
    
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

#carlist h1{
    margin-top:9%;
    font-family: 'Oswald', sans-serif;

}

#carlist .container{
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
    margin-top:28px;
    margin-bottom: 10px;
}

#carlist .car-card{
    display: flex;
	flex-direction: column;
	border: 3px solid rgba(0, 0, 0, 0.3);
    background:black;
    color:white;

	border-radius: 15px;
	margin: 10px;
	width: 300px;
	height: 380px;
	transition: transform 0.5s;
}

#carlist .car-image{
    margin-bottom: 5px;
    width: auto;
}
#carlist .car-image img{
    height: 135px;
    width: 100%;
    margin: 20px 0;
    object-fit: contain;
}

#carlist .car-info h2{
    font-size: 22px;
	margin-bottom: 5px;
	text-align: center;
}

#carlist .car-info a{
    margin-left:23%;
    text-decoration: none;
    color:rgb(121, 119, 119);
    margin-bottom: 5px;
	font-size: 30px;
	margin-bottom: 10px;
	font-weight: bold;
	cursor: pointer;
}
#carlist .car-info ul{
    margin-bottom: 10px;
	margin-left: 25px;
}
#carlist .car-info li{
    font-size: 18px;
    
}

#carlist .car-card:hover
{
   transform: scale(1.1);
}


/* .cards{
    margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

#carlist{

    
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    margin-top:0px;
    margin-bottom:0px;
    min-height: 300%;
    background:rgb(255, 255, 255);

}
#carlist h1{
    
    font-size:40px;
    font-weight:500;
    color:white;
    margin-bottom:10px;
    width:100%;
    margin-top: 100px;
}
#carlist .container{
    display: flex;
	flex-direction: row;
	
	flex-wrap: wrap;
	width: 100%;

  
   
    
    justify-content: center;
    align-items: center;
    padding:20px;
    gap:20px;
   
}
#carlist .car-card {
    display: flex;
	flex-direction: column;
	border: 3px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	margin: 10px;
	width: 300px;
	height: 380px;
	transition: transform 0.5s;

  

    margin: 10px 5px;
    position: relative;
    background: black;
    width: 400px;
    height: auto;
    color: white;
    text-align: center;
    overflow: hidden;
    border: 1px solid rgba(136, 138, 148, 0.3);
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.5s;
    padding: 0 5px;
}
#carlist .car-card h2{
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
#carlist .car-card p{
    color: rgb(255, 255, 255);
    margin: 10px 10px 20px 10px;
    font-weight: 400;
}
#carlist .car-image{
    margin-bottom: 5px;
    width: auto;
}
#carlist .car-image img{
    height: 135px;
    width: 100%;
    margin: 20px 0;
    object-fit: contain;
}
#carlist .car-page-button{
    margin-bottom: 25px;
}

.car-info a {
	color: rgb(80, 80, 80);
	text-align: center;
	font-size: 30px;
	margin-bottom: 10px;
	font-weight: bold;
	cursor: pointer;
    text-decoration: none;
}

.car-info ul {
	margin-bottom: 10px;
	margin-left: 40px;
}

.car-info li {
	font-size: 18px;
}
#carlist .car-page-button a{
    cursor: pointer;
    background: rgb(158, 158, 158);
    border-radius: 30px;
    padding: 10px 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.car-card:hover{
    transform: scale(1.05);
} */


/*--------------footer--------------*/
footer{
    position:relative;
    width:100%;
    height:auto;
    z-index:999;
    background:rgb(0, 0, 0);
    padding: 2em 2em 4em 3em;
    color:white;
}
footer .container
{
    width:100%;
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap:2em;
}
footer .aboutus a{
    color:rgb(136,138, 148);
    transition:0.5s;
}
footer .aboutus a:hover{
    color:#ffffff;
}
footer .container h2{
    font-weight: 400;
    margin-bottom: 1em;
}
footer .container .socials
{
    margin-top:2em;
    display:grid;
    grid-template-columns: repeat(4,52px);
    grid-gap:10px;
}
footer .container .socials li
{
    list-style: none;
}
footer .container .socials li a
{
    color:white;
    display:inline-block;
    width:50px;
    height:50px;
    background: rgb(0, 0, 0);
    border-radius:50%;
    display:grid;
    align-content: center;
    justify-content:center;
    transition:0.5s;
}
footer .container .socials li a:hover
{
    background:#a50000;
}
footer li{
    list-style: none;
    margin-bottom: 0.7em;
}
footer li a
{
    color:rgb(136,138, 148);
    display: inline-block;
    transition:0.5s;
    text-decoration: none;
}
footer li a:hover
{
    color:#ffffff;
}
.info li{
    display:grid;
    grid-template-columns: 30px 1fr;
    list-style: none;
}

@media (max-width: 1024px){
    footer{
        padding: 40px;
    }
    footer .container{
        grid-template-columns: repeat(2, 1fr);
    }
    .advantage-card__text{
        font-size: 22px;
        line-height: 26px;
    }
    #carlist h1{
        margin-top: 11%;
    }
    
}
@media (max-width: 768px){
    footer .container{
        grid-template-columns: repeat(1, 1fr);
    }
    body.disabled{
        overflow: hidden;
    }
    .icon{
        display: block;
    }
    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: rgb(0, 0, 0);
        transition: all 0.3s ease;
    }
    .navbar.show .menu-list{
        left: 0%;
    }
    .navbar .menu-list li{
        margin-top: 45px;
    }
    .navbar .menu-list li a{
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a{
        margin-left: 0px;
    }
    .advantage-card__text{
        font-size: 18px;
        line-height: 22px;
    }
    #carlist h1{
        margin-top: 15%;
    }
}

@media (max-width: 468px){
    #carlist h1{
        margin-top: 23%;
    }
}

@media (max-width: 320px){
    #carlist h1{
        margin-top: 28%;
    }
}